{% extends 'ErpUserBundle:Profile:base.html.twig' %}

{% block pageContent %}
    {{ parent() }}
    <section id="managers-profile" class="profile">
        <div class="container">
            <div class="row">
                <div class="title-block">
                    <h1 class="bold-text">Templates</h1>
                </div>
            </div>
            {% include "ErpCoreBundle:crossBlocks:message.html.twig" with {'alert_ok' : 'alert_ok', 'alert_error' : 'alert_error'} %}
            <table class="table">
                <thead>
                <tr>
                    <td>Title</td>
                    <td>Type</td>
                    <td>Action</td>
                </tr>
                </thead>
                <tbody>
                {% for alert in alerts %}

                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}