<div class="container-fluid">
    <div class="row text-right">
        <h1 class="text-center bold-text">Done</h1>
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                Email with charge requirements has been sent.
            </div>
        </div>
    </div>
</div>

