<div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-12">
                Email with charge has been sent to {{ landlord }}.
            </div>
            <button type="button" class="btn red-btn btn-space" data-dismiss="modal" aria-hidden="true">OK</button>
        </div>
</div>

