.table-fixed {
  width: 100%;
  background-color: #f3f3f3;
  tbody {
    max-height: 500px;
    overflow-y: auto;
    width: 100%;
  }
  thead, tbody, tr, td, th {
    display: block;
  }
  tbody {
    td {
      float: left;
    }
  }
  thead {
    tr {
      th {
        float: left;
      }
    }
  }
}
