<section id="features" class="features">
    <div class="more-arrow"><a href="#features"></a></div>
    <div class="container">
        {{ content.featureBody|raw }}

        <div class="row banner-row">
            <div class="col-md-12">
                <div class="banner homepage-banner">
                    <span class="banner-text">Wish Your <span class="bold-text">Property Manager</span> Was On <span class="bold-text">eRentPay?</span></span>
                    <a role="popup" href="{{ path('erp_site_send_invite_to_landlord') }}" class="btn btn-lg btn-rounded gradient-btn">SEND eInvite</a>
                </div>
            </div>
        </div>
    </div>
</section>