{% extends 'ErpUserBundle:Profile:base.html.twig' %}

{% block pageContent %}
    {{ parent() }}
    <section id="managers-profile" class="profile">
        <div class="container">
            <div class="row">
                <div class="title-block">
                    <h1 class="bold-text">Templates</h1>
                </div>
            </div>
            {% include "ErpCoreBundle:crossBlocks:message.html.twig" with {'alert_ok' : 'alert_ok', 'alert_error' : 'alert_error'} %}
            <table class="table">
                <thead>
                    <tr>
                        <td>Title</td>
                        <td>Type</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                {% for template in templates %}
                    <tr>
                        <td>{{ template.title }}</td>
                        <td>{{ template.type }}</td>
                        <td>
                            <a
                                    class="btn red-btn"
                                    href="{{ path('erp_notification_template_update', {'id': template.id}) }}"
                                    target="_blank"
                            >
                                Update
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}