{% extends 'ErpUserBundle:Profile:base.html.twig' %}
{% block pageContent %}

    {{ parent() }}
    <section id="managers-accounting" class="listings profile">
        <div class="container">
            <div class="row">
                <div class="title-block">
                    <h1 class="bold-text">Accounting</h1>
                </div>
            </div>
            {% include "ErpCoreBundle:crossBlocks:message.html.twig" with {'alert_ok' : 'alert_ok', 'alert_error' : 'alert_error'} %}
            <div class="row profile-widget-row profile-widget-custom">
                <div class="row">
                    <div class="title-block">
                        <a
                                class="btn red-btn"
                                type="submit"
                                href="{{ path('erp_user_landlords_create') }}"
                                role="popup"
                        >
                            Add landlord
                        </a>
                        <a
                                class="btn red-btn"
                                type="submit"
                                href="{{ path('erp_user_landlords') }}"
                                role="popup"
                        >
                            Landlord profiles
                        </a>
                    </div>
                </div>


                <div class="col-md-12 col-xs-6 profile-widget-item widget-last">
                    <div class="row widget-title-row">
                        <div class="login-block-title bold-text">Accounting Ledger</div>
                    </div>
                    <div class="accounting-block">
                        <div class="accounting">
                            <ul class="accounting-table-title">
                                <li>
                                    <span class="col-xs-3 bold-text">Landlord</span>
                                    <span class="col-xs-3 bold-text">Income</span>
                                    <span class="col-xs-3 bold-text">Expense</span>
                                    <span class="col-xs-3 bold-text">Balance</span>
                                </li>
                                <li>
                                    <span class="col-xs-3"></span>
                                    <span class="col-xs-3"></span>
                                    <span class="col-xs-3"></span>
                                    <span class="col-xs-3"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}