{% extends 'ErpUserBundle:Profile:base.html.twig' %}

{% block pageContent %}

    {{ parent() }}

    <div class="page-content">
        <section id="managers-listings" class="listings profile">
            <div class="container">
                {% include "ErpCoreBundle:crossBlocks:message.html.twig" with {'alert_ok' : 'alert_ok', 'alert_error' : 'alert_error'} %}
                <div class="col-md-12 col-xs-6 profile-widget-item widget-last">
                    <div class="row widget-title-row">
                        <div class="login-block-title bold-text">Accounting</div>
                    </div>
                    <div class="accounting-block">
                        <div class="accounting">
                            <ul class="accounting-table-title">
                                <li>
                                    <span class="col-xs-4 bold-text">Income</span>
                                    <span class="col-xs-4 bold-text">Expense</span>
                                    <span class="col-xs-4 bold-text">Balance</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                    <div class="text-center">
                        Block for messages
                    </div>
                <div class="col-xs-12 text-center">

                </div>
            </div>
        </section>
    </div>
{% endblock %}