<div class="col-md-12 col-xs-6 profile-widget-item widget-last">
    <div class="row widget-title-row">
        <div class="login-block-title bold-text">Late Rent Payments</div>
    </div>
    <div class="history-block">
        <div class="payment-history">
            <ul class="payment-table-title">
                <li>
                    <span class="col-xs-3 bold-text">Tenant</span>
                    <span class="col-xs-3 bold-text amount-col">Address</span>
                    <span class="col-xs-3 bold-text amount-col">Total owed</span>
                    <span class="col-xs-3 bold-text amount-col">Number of day late</span>
                </li>
            </ul>
            <ul class="payment-table">
                {% for item in items %}
                    <li>
                        <span class="col-xs-3">{{ item.tenantUser.fullNameWithEmail }}</span>
                        <span class="col-xs-3 amount-col">{{ item.address }}</span>
                        <span class="col-xs-3 amount-col">{{ item.tenantUser.rentPayment.balance|stripe_money }}</span>
                        <span class="col-xs-3 amount-col">{{ item.tenantUser.rentPayment.numberOfDayLate }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>