<div class="col-md-12 col-xs-6 profile-widget-item widget-last">
    <div class="row widget-title-row">
        <div class="login-block-title bold-text">Payment History</div>
    </div>
    <div class="history-block">
        <div class="payment-history">
            <ul class="payment-table-title">
                <li>
                    <span class="col-xs-2 bold-text">Date</span>
                    <span class="col-xs-2 bold-text amount-col">User</span>
                    <span class="col-xs-2 bold-text amount-col">Amount</span>
                    <span class="col-xs-2 bold-text amount-col">Currency</span>
                </li>
            </ul>
            <ul class="payment-table">
                {% for transaction in pagination %}
                    <li>
                        <span class="col-xs-2">{{ transaction.created|date('Y/m/d') }}</span>
                        <span class="col-xs-2 amount-col">{{ transaction.owner.user }}</span>
                        <span class="col-xs-2 amount-col">{{ transaction.amount }}</span>
                        <span class="col-xs-2 amount-col">{{ transaction.currency }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>